body {
  background-color:#889DDD;
  text-align:center;
}

.btn-warning {
  margin-right:2%;
}

.head {
  background-color:#513976;
  padding-top:2%;
  padding-bottom:2%;
  margin-bottom:1.5%;
}

.btn-primary {
  margin-bottom:1.5%;
}

.bg-info {
  margin-left:auto;
  margin-right:auto;
  width:50%;
  padding:3%;
  border-radius:3%;
  margin-bottom:3%;
}




/* wierd code i stole from a french "designer".that create a swag pop up */
input {
    -moz-border-radius: 2px;
    padding: 25px;
    display: block;
    margin: 0 auto 50px;
    border:none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #73556b;
}

button {
    border: 3px solid #FFF;
    padding: 0.6em 1.2em;
    background: transparent;
    color: #FFF;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
    transition: all 0.3s;
}

button:hover {
    background: #FFF;
    color: #889DDD;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    background: #473542;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    overflow: scroll;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s;
}

.show ~ .overlay {
    opacity: 1;
    visibility: visible;
}

.show.blur-effect ~ .overlay {
    background: #B2B2B2;
}

.show.blur-effect ~ .container, .show.blur-effect ~ .bgall{
    filter: blur(30px);
}

.blur-effect .popup-content {
    transform: translateY(-5%);
    opacity: 0;
}

.show.blur-effect ~ .container,
.blur-effect .popup-content, .show.blur-effect ~ .bgall {
    transition: all 0.3s;
}

.show.blur-effect .popup-content {
    transform: translateY(0);
    opacity: 1;
}


.show {
    visibility: visible;
}


.popup-content {
    color: #fff;
    border-radius: 3px;
}

.close:hover {
    opacity: 0.2;
}

.submit:hover {
    opacity: 0.5;
}
